[2019-06-09 13:26] marcosgriselli opened #6 "Mismatch between text and image when describing Xcode Integration"
On the [Xcode Integration](https://github.com/spotify/XCLogParser#xcode-integration) part of the documentation the text reads _"To do that, open the scheme editor in a project and expand the **"Build"** panel on the left side."_ while the image displays the script being added to the **"Run"** phase:

<img width="1107" alt="post-action-run-script" src="https://user-images.githubusercontent.com/1480

[2019-06-09 16:05] BalestraPatrick commented on #6
Hey @marcosgriselli!

You're right, there's a mismatch there. It should work no matter in which phase you add the post-action since the `xcactivitylog` is created after the build is complete, and `XCLogParser` will wait for it to show up on disk before parsing it. Feel free to open a PR with the same screenshot updated with the run script added to the "Build" phase instead 😄

[2019-06-09 17:33] marcosgriselli commented on #6
Thanks for the clarification @BalestraPatrick. It seems like the screenshot was replaced on #3 and if it works on the **Run** phase as well then its not a real issue. I'll close this one :)

[2019-06-09 17:33] #6 closed

[2019-06-14 07:19] TuYuWang opened #9 "Unexpected className found parsi3ng IDEActivityLogSection DBGConsoleLog"
<img width="1207" alt="屏幕快照 2019-06-14 下午3 18 37" src="https://user-images.githubusercontent.com/17824022/59490607-b5193c00-8eb7-11e9-8973-3a0ad6edb634.png">

[79D9C1DE-F736-4743-A7C6-B08ED42A1DFE.xcactivitylog.zip](https://github.com/spotify/XCLogParser/files/3289464/79D9C1DE-F736-4743-A7C6-B08ED42A1DFE.xcactivitylog.zip)

[2019-06-15 04:32] kateinoigakukun opened #10 "[Question] Is there any documentation about xcactivitylog?"
Thanks for great OSS. I'll try to use this.
But if I understand correctly, `xcactivitylog` just has values without key name.
I'm curious about how did you name them? Is there any documentation? or this can be broken after updating Xcode?

[2019-06-16 15:32] ecamacho commented on #10
Hi, I gave a talk about that topic at this year's AltConf. The video will be published shortly. In the meantime, I'll put the documentation about the format in the Wiki in the upcoming week.

[2019-06-16 15:34] ecamacho commented on #9
Thank you for reporting the issue. Indeed, we don't currently support the class `DBGConsoleLog` I'll take a look your log to see if we can add support for it. Which version of Xcode are you using?

[2019-06-17 02:42] TuYuWang commented on #9
Xcode Version 10.2.1 (10E1001)

[2019-06-17 12:31] kateinoigakukun commented on #10
Oh i see! I can't wait your awesome video!

[2019-06-17 23:57] sendtobo opened #12 "10.14.4+ Support"
It seems like XCLOgParser doesnt work on any MacOS after 10.14.4. I am getting this error when running the parser

"This copy of libswiftCore.dylib requires an OS version prior to 10.14.4."

[2019-06-18 09:14] BalestraPatrick commented on #12
Hey! How and where did you install `XCLogParser`? I am unable to reproduce the issue on macOS 10.14.5.

[2019-06-21 11:21] altaibayar commented on #12
@sendtobo Use Xcode11 command line tools. It worked for me

[2019-06-25 12:35] aronpammer opened #16 "xcactivitylog is not generated"
This is not exactly an issue with the xclogparser, but with xcodebuild. Whenever I build within Xcode I get the xcactivitylog file, however if I delete derived data folder, then build with xcodebuild the log is just not there. (We use a fresh VM for every new CI build) If I rerun xcodebuild (so I rebuild) the xcactivitylog is generated.

Did you encounter this issue before?

[2019-06-25 15:31] ecamacho commented on #9
I've added support for that class in https://github.com/spotify/XCLogParser/pull/17 and tested it with the sample log you provided. Can you check it with other logs?

[2019-06-25 15:36] ecamacho commented on #16
I haven't seen it. Is there a `LogStoreManifest.plist` file generated in the Logs/Build folder? You can run `xclogparser manifest --project MyProject`to check it.
Do you run xcodebuild with the `-derivedDataPath` option?

[2019-06-25 15:53] aronpammer commented on #16
Yes the manifest is there, but it does not have any entries. I do set the derivedDataPath.

I had some success by adding `-resultBundlePath '/Users/jenkins/derived_data/resultbundle'` and this way I get an xcactivitylog file, but that file parsed with xclogparser produces a totally different json output. (there are no module targets with substeps, there are no steps with `cCompilation` detailStepT

[2019-06-26 09:24] TuYuWang commented on #9
thanks, it is work!

[2019-06-29 08:39] BalestraPatrick commented on #12
@sendtobo Where you able to run `XCLogParser` correctly after fixing your environment?

[2019-06-30 08:43] #9 closed

[2019-07-15 17:13] ecamacho commented on #16
@aronpammer I got the same issue when running xcodebuild for archive (`-exportArchive`). For some reason the logs are not generated in that way. Are you by any chance using the same option?

[2019-07-16 08:51] ecamacho commented on #10
@kateinoigakukun I added a document about it: https://github.com/spotify/XCLogParser/blob/master/docs/Xcactivitylog%20Format.md And the video of the talk is up: https://www.youtube.com/watch?v=QVwOzfJIDCc

[2019-07-16 09:06] kateinoigakukun commented on #10
Awesome! Great thanks.

[2019-07-16 09:06] #10 closed

[2019-08-09 11:34] #12 closed

[2019-08-23 08:07] ecamacho opened #32 "Logs from builds where Static Analysis was used, can not be parsed"
They fail with the message `Failed to parse log: (Error parsing the log: Unexpected className found parsing IDEActivityLogMessage IDEActivityLogAnalyzerResultMessage)`

[2019-09-17 22:49] lstomberg commented on #32
I was wondering why I was seeing these!  So glad to know what causes them.

[2019-09-24 19:10] ecamacho commented on #32
@lstomberg the issue is fixed in latest master (v 0.1.5)

[2019-09-24 19:10] #32 closed

[2019-10-24 13:05] aleksandergrzyb commented on #16
I hit similar problem. 😞 Building directly with Xcode generates `.xcactivitylog` file with details such us how many seconds was taken to compile some specific module, but using `xcodebuild` directly (`xcodebuild test -workspace <workspace> -scheme <scheme> -destination 'platform=iOS Simulator,name=iPhone 8,OS=13.1' OTHER_SWIFT_FLAGS="-Xfrontend -debug-time-function-bodies"`) produces different res

[2019-10-30 05:28] joshavant opened #36 "Unexpected className found parsing DocumentLocation IBDocumentMemberLocation"
Hello,

I'm trying to run `xclogparser` after a build and am getting this error:
`Unexpected className found parsing DocumentLocation IBDocumentMemberLocation`

I'm running on Xcode 11.1 (11A1027)

Any thoughts?

[2019-10-30 08:30] ecamacho commented on #36
@joshavant Hi, yes we run into bugs like that from time to time. Basically your Log has a serialised class that we haven't reverse engineered. I will try to reproduce it locally, but it will help me if you can share one of those logs. Can you do it?

[2019-10-30 18:37] joshavant commented on #36
Unfortunately, I cannot post the log file as it contains sensitive information (filenames and whatnot).

That said, I opened up the `xcactivitylog` file and did some light reverse engineering and it looks like the `IBDocumentMemberLocation` class reference was triggered by the build warning:
`Automatically Adjusts Font requires using a Dynamic Type text style`

I replicated this subview configurat

[2019-10-30 19:10] ecamacho commented on #16
@aleksandergrzyb we don't do anything special to generate the logs with xcodebuild. What do you mean you don't get how long it took to build some module? Is the module missing from the log, or the time is not available?

[2019-10-31 16:28] ecamacho commented on #16
@aleksandergrzyb, @polac24 was able to reproduce your issue with Xcode 11.1. I found a fix to generate a complete log with `xcodebuild` by providing the option `-resultBundlePath`

Something like this should work in your case:`xcodebuild test -workspace <workspace> -scheme <scheme> -destination 'platform=iOS Simulator,name=iPhone 8,OS=13.1' -resultBundlePath results_bundle OTHER_SWIFT_FLAGS="-Xfro

[2019-10-31 16:32] aleksandergrzyb commented on #16
Thanks!

[2019-11-04 03:59] zhangrenfeng opened #39 "Unexpected className found parsing DocumentLocation Xcode3ProjectDocumentLocation"
Hello,

I'm trying to run `xclogparser` after a build and am getting this error:
`Error parsing the log: Unexpected className found parsing DocumentLocation Xcode3ProjectDocumentLocation`

I'm running on `Xcode Version 11.2 (11B52)`

Sorry, I can't provide log file because the logs involve sensitive information..

[2019-11-04 11:46] ecamacho commented on #36
@joshavant Thank you for the sample project. I opened a PR to fix the issue https://github.com/spotify/XCLogParser/issues/36

[2019-11-04 12:02] BalestraPatrick commented on #39
This is a duplicate of #36 and it's fixed in #38

[2019-11-04 18:45] ecamacho commented on #39
I think it's different, that `Xcode3ProjectDocumentLocation` seems to be in a different Xcode framework. I'm reopening to do some research

[2019-11-04 19:07] ecamacho commented on #39
@zhangrenfeng it's hard to test without a log, but can you try this version and let me know if it works?  [XCLogParser-Experimental.zip](https://github.com/spotify/XCLogParser/files/3805604/XCLogParser-Experimental.zip)

[2019-11-05 03:04] zhangrenfeng commented on #39
I use the command line tool you provided to parse the same xcactivitylog file, and the file can be parsed correctly without error

[2019-11-05 08:18] #36 closed

[2019-11-05 08:19] ecamacho commented on #39
@zhangrenfeng great, I opened a PR to merge the fix to master https://github.com/spotify/XCLogParser/pull/40

[2019-11-08 09:54] #39 closed

[2019-11-27 14:19] #16 closed

[2019-12-12 06:17] mobileben opened #44 "dump versus parse time durations"
I was analyzing my build using `xclogparser` invoked with `parse --reporter json`. As a test, I focused on one `type` == `target`. This had 22 defined `subSteps`. My thought was that the `duration` of the target should equal the sum of the durations of the `subSteps`. Each of these sub steps did not have any other sub steps.

Summing the sub steps results in a value of 1.0292 whereas the `duration

[2019-12-12 06:29] mobileben commented on #44
Quick addition here. I looked over the `subSteps` a little better. One thing I notice is that there is actually a gap between them. For example, I see a jump from one section stopping at 597803329.65822005 and then the next on starting at 597803334.31234396.

Looking at it this way, the start time of the target is roughly equal to the start time of the first section and the ending time of the targ

[2019-12-12 07:29] mobileben opened #45 "swiftAggregatedCompilation and precompileBridgingHeader missing from documentation"
`swiftAggregatedCompilation` and `precompileBridgingHeader` missing from the JSON Format documentation here: https://github.com/spotify/XCLogParser/blob/master/docs/JSON%20Format.md

[2019-12-13 23:06] mobileben opened #47 "swiftFunctionTimes not always populated in certain cases"
I recently turned on swift timings (-driver-time-compilation -Xfrontend -debug-time-compilation -Xfrontend -debug-time-function-bodies -Xfrontend -debug-time-expression-type-checking) and noticed a couple of things.

- The parsing speed is pretty slow.
- There are cases where the `swiftFunctionTimes` is an empty array even though it appears the data exists in the dump.

This happens when using Coc

[2019-12-19 09:35] #45 closed

[2019-12-19 10:11] ecamacho commented on #44
Hi, yeah we use the start time of the first substep and the endtime of the last substep to compute the duration of the target. It would be more visible if you generate the timeline of the project using `--reporter html`. You may found interesting data with the html report, such as having a target that it took 30 seconds, but if you click on it to open the substeps you may realise that the compiler

[2019-12-19 10:27] ecamacho commented on #47
We haven't tested it with cocoa pods. I will do some tests with it, is there any specific pod that is causing this issue?

I'll take a look at the parsing speeds, I may be able to make it faster.

[2019-12-19 21:16] mobileben commented on #47
@ecamacho It seems like the issue is building Swift modules with as "Whole Modules" versus "Incremental".

Not sure why, but for some reason the project I'm working on has all their Swift pods doing this. When set back to Incremental, the individual file compilation continues.

Based on what `dump` contains, you should be able to extract at least the `swiftFunctionTimes`. Not sure if it's worth tr

[2019-12-28 13:38] ecamacho commented on #47
@mobileben feel free to test this PR https://github.com/spotify/XCLogParser/pull/48 I'm parsing the swift files that were compiled and I also speed up the parsing times.

[2020-01-03 06:48] mobileben commented on #47
@ecamacho I will test this shortly.

[2020-01-04 05:53] mobileben commented on #47
@ecamacho quick question here. When should `swiftFunctionTimes` show up?  I have a slightly different build configuration, but am using the correct flags. I can see the generated Swift build times listed in Xcode's Build summary. But when I run `xclogparser` on it with the `parse` argument and `json` reporter, all the `swiftFunctionTimes` are empty. The dump shows them.

This is using the current

[2020-01-04 07:59] mobileben commented on #47
Okay update.

Regarding the swift function fix. There is much improvement. The fixed version takes a little over a minute (I did not precisely time). The current master took 1 hour and 15 minutes to process.

I do notice if I run a diff, the results between `master` and `swift_func_improv` don't match.  I haven't had a chance to take a closer look (because the generated files are large) to see if

[2020-01-06 15:01] ecamacho commented on #47
Hi, thanks for testing.

Yeah, the order can be different because it's now parsing in parallel the swift function times data.
I've fixed the issue about not having the swift function time when you use the `--redacted` flag, nice catch. I've pushed the change to the `swift_func_improv` branch

[2020-01-06 17:40] mobileben commented on #47
`--redacted` now has the `swiftFunctionTimes`.

Just curious, I notice a couple odd things (not related to `xclogparser` and was curious if you had any thoughts or insights.

- I notice that if I sum the times in MS in the `swiftFunctionTimes`, they do not sum to the overall duration for the step. Any thoughts as to where that missing time is?
- I've seen some interesting cases in our build summar

[2020-01-13 08:44] #44 closed

[2020-01-13 09:01] ecamacho commented on #47
Hi
- Yeah the use of `-debug-time-function-bodies` is not properly supported by Apple. It was created just as an indicator. You can the response of this question in the Swift forums where they say it's not 100% accurate https://forums.swift.org/t/potential-contributions-to-compilation-time-reporting/7055. So basically, the Swift compilation time reported by the Xcode log is the total sum of severa

[2020-01-13 09:01] #47 closed

[2020-01-20 23:54] mobileben opened #51 "Difference in how targets are handled when -resultBundlePath is used"
This is very likely an Xcode thing.

I've noticed that when you build with `Xcode` or with `xcodebuild` using the `-resultBundlePath`, you get different output regarding targets.

More specifically, when building with `Xcode`, target names with the hash show up in the signature. However when `xcodebuild` with `-resultBundlePath`, the signature is empty. The target name is in the title showing up a

[2020-01-21 05:40] mobileben opened #52 "xcactivitylog is not a valid xcactivitylog"
I've been testing some builds generated with `xcodebuild`. The command generally looks like:

[code]

I've noticed that when I try and run `xclogparser` using the `--derived_data` argument, I get the following error:

If I run `file` on the `xcactivitylog`, it returns

[code]

I'm not quite too sure where the `reserved method, ASCII, has CRC, encrypted, from FAT filesystem (MS-DOS, OS/2, NT)` came

[2020-01-21 05:46] mobileben opened #53 "When trying to set `--derived_data`, if there is an error, the error indicates the flag is `--derived-data`"
The error is in LogFinder.swift. I can create a PR in a little bit to fix this.

Also as an aside, do you happen to know if, when you use `--derived_data` if you can make it not look for project directories? At least when I use `-derivedDataPath`, it writes the contents of the project (eg. Build, Logs, etc) directly into that directory.

So for example `-derivedDataPath foo` would yield something

[2020-01-21 08:33] BalestraPatrick commented on #52
Does the same happen if you wait a while after the `xcodebuild` command returns before running `xclogparser`? We have noticed that sometimes Xcode/`xcodebuild` take a while to finish writing the log to disk, so if you try to parse it immediately after, `xclogparser` will not be able to read the file structure correctly since it hasn't been written fully yet.

[2020-01-21 08:38] ecamacho commented on #51
Yes, with `xcodebuild` and `-resultBundlePath` there is no Target data in the xcactivitylog. What I did was to introduce one artificially. What `xcodebuild` is producing is only the list of steps and inside each step data you can find the Target name to which that step belongs. With that data I artificially create a Target with the aggregated data of its steps.

That a logic [is here](https://gith

[2020-01-21 08:41] ecamacho commented on #53
Yes that's right. That's a bug. I'll create a fix for that, since I've been doing the same artificially create an extra directory when shouldn't be needed. Thanks for reporting it, I can also fix the typo in the error in the same PR

[2020-01-22 18:49] mobileben commented on #52
Hmm, that is interesting. I did see one case where the next day, I ran my script (which calls `xclogparser`) and is magically worked.

I've run a few tests with `xcodebuild` and those `xcactivitylog` files don't seem to work even if I try a few hours later. Doesn't seem to matter if I use `-resultBundlePath` or override the derived data. It has worked sometimes so I'm just not quite sure. These ar

[2020-01-22 18:50] mobileben commented on #52
BTW, I read your article regarding usage of Rome. Very interesting! Do you happen to know if there is an equivalent for Pods? Or maybe asked another way ... do you use pods at all or have you been able to use Carthage for all your dependencies?

[2020-01-22 18:51] mobileben commented on #53
Okay, sounds good! Thanks.

[2020-01-22 18:51] mobileben commented on #51
Okay, I'll take a look at this near the end of the week or next week.

[2020-01-30 22:45] BalestraPatrick commented on #52
@mobileben There are some CocoaPods plugins to use binaries instead of rebuilding all the dependencies from source. Take a look at https://github.com/leavez/cocoapods-binary.

[2020-02-01 06:49] mobileben commented on #52
@BalestraPatrick Cool thanks. I tried using it, though it seems to have some issues with some pods. Ideally I want to have us ditch pods altogether.

Just curious. Do you have internal libs/frameworks which are Carthage packages? And if so, how do you facilitate debugging or modifying it when used with the app? For example we are using private pods (these are locally linked and are committed in ou

[2020-02-04 18:54] BalestraPatrick commented on #52
@mobileben That's one way of doing it. We don't really use Carthage or CocoaPods for internal code exactly for that reason.

[2020-02-14 09:13] ecamacho commented on #51
Hi I fixed this big in this PR https://github.com/spotify/XCLogParser/pull/58 it will be release v0.2.4

[2020-02-14 09:13] #51 closed

[2020-02-14 12:31] ecamacho commented on #53
Hi, this issue is fixed in current version 0.2.3.

[2020-02-14 12:31] #53 closed

[2020-02-21 00:03] mobileben commented on #53
@ecamacho thanks here too!

[2020-02-22 05:25] mobileben opened #63 "`outputPath` and `machineName` are inaccessible due to 'internal' protection level"
I may be possibly doing things that are were not intended.

I had a tool I wrote in python to take the parse JSON from `xclogparser` which converted into data we could use with some of our other tools. I decided to expand on this, but this time to create a Swift command line tool to do this, leveraging the `XCLogParser` library.

I really don't care about the reporter, rather I want to use the `ID

[2020-02-25 00:57] mobileben opened #64 "`--project` value finds incorrect project"
We have a few projects that have the same prefix. For example our main project is `Foo`. But we also have some other smaller modules that could be something like `foo-bar` or `FooUtils`.

When calling

`xclogparser parse --project Foo --reporter json`

Or when using as a library, setting `logOption.projectName = "Foo"`, we find that we get the results of `foo-bar` in the event `foo-bar` was built

[2020-02-26 06:01] mobileben opened #65 "Populating `documentURL` for other `BuildStepType`s"
I realize this is something that Apple is doing with their `xcactivitylog`. It appears with `CompileC` and `CompileSwift` that the `documentURL` will contain the file name of the file that is being compiled. This is populated by the `DVTDocumentLocation`.

It seems it would also be useful to have this information available to other compile types such as `CompileStoryboard` and `CompileXIB`. It doe

[2020-02-26 19:26] mobileben commented on #63
Quick clarification on this. The need for access level matters less for the reporter. I would theorize that anyone consuming `XCLogParser` as a library would either use `activityLog` or `buildSteps` directly and forgo using the reporters.

I've ended up solely relying on `buildSteps` since it is more easily consumable than `activityLog`

[2020-02-26 19:34] mobileben commented on #65
I took a look more at the code. This isn't as straight forward as I initially thought it would be because of the way `BuildStep` objects are initialized.

A possibility would be to hijack one of the `addCompilationTimes` variants to accomplish this.

[2020-02-27 09:45] ecamacho commented on #63
@mobileben we exposed those fields as public in this PR https://github.com/spotify/XCLogParser/pull/67

[2020-03-03 14:34] rcamparoML opened #71 "Can't install it"
I'm getting this error whent trying to install the tool with Swift Package Manager

![image](https://user-images.githubusercontent.com/44027495/75785658-d91cf600-5d42-11ea-90e9-4c8a8c86a8df.png)

[2020-03-03 14:44] #71 closed

[2020-03-20 11:00] #63 closed

[2020-03-31 11:30] #64 closed

[2020-03-31 11:31] #52 closed

[2020-05-02 11:38] ceeK opened #77 "Question around placing the script in a scheme's post-action"
Hey all,

Firstly thank you for this tool, it's absolutely fantastic and is a massive help to my use case: tracking build times on DataDog.

This statement exists in the readme around placing the script within a scheme's post-action that I think might be slightly ambiguous:

I interpreted this to mean that when you build the scheme, the xcactivitylog _for that build_ is parsed at the end of the bu

[2020-05-04 13:53] BalestraPatrick commented on #77
Yes, we encountered this issue as well. Xcode waits for the command ran in the post-build script to finish before even showing the "Build Succeeded" message for example. We got around this problem by offloading the actual invocation to an external script that we call "launcher":
[code]

The actual post-scheme in Xcode then becomes:
`Launcher YourCommandToUploadToDataDog`

We'll look into adding th

[2020-05-04 18:26] ceeK commented on #77
Thanks a lot @BalestraPatrick!

Whilst I have you, I'm wondering whether you have experience on reporting failed builds as well as successful, given that the post-action script only runs for successful builds? I'm looking into this on my end so if you have any tips here, that'd be fantastic.

[2020-05-04 19:33] polac24 commented on #77
Hi @ceeK!
Glad you asked, we have a workaround for that too.
There is an undocumented, unofficial `runPostActionsOnFailure` attribute for the scheme action defined in *.xcscheme file. You have to manually add it to the `BuildAction` like:
[code]

That triggers an action also for a build failure but still not for a manually stopped build.

[2020-05-04 19:44] BalestraPatrick commented on #77
Yes, that's the undocumented feature we use to execute the action even on failure. I'll prepare a PR to add these "tips & tricks" to the README.

[2020-05-05 10:22] ceeK commented on #77
Awesome! Thank you both. This will save me, and others, a lot of time 🎉

[2020-05-05 11:11] #77 closed

[2020-06-01 23:42] kjing opened #80 "online analysis tool which work with XCLogParser?"
We use CXLogParser.  we want to upload daily reports to an online analysis tool to have historical trend analysis for individual file's build or unit test of each test case? Do you know to use which online analysis tool?

[2020-06-09 15:19] ecamacho commented on #80
Hi, we don't have one yet. One thing you can try is to generate the flatJson report (`xclogparser parse --project MyProject --reporter flatJson --output build_report.json`) and ingest it into a Database that supports Json like MongoDB

[2020-08-12 12:41] ecamacho opened #93 "Swift Type Checks times table fails to load properly in HTML report if there are too many rows"
With large build logs, that table throws an error in the Browser's console and as a result, the table doesn't show the search field nor is paginated. Originally reported by @BalestraPatrick

[code]

[2020-08-21 10:48] AyaAkl25 opened #94 "[Question] What steps should I do after adding SPM dependency?"
Hey
In the documentation when installation you say: simply use the Swift Package Manager commands directly. I already did that but my problem was trying to run `xclogparse` on CI (Bamboo). How can I make that the executable is there on agent without adding it manually but with Swift Package, is it doable?
Thanks!
P.S: I don't want to use Homebrew :)

[2020-08-21 23:47] JustinDSN opened #95 "Docker Image"
Hi there 👋 :

I'm curious what the intention is behind the Docker image. Is this so it can be built with Swift Linux, or is this so the tool can actually be ran from a Docker container?

I'm wondering how you use this tool "at Scale" at Spotify? Do your developers install the tool and run on demand, or are you monitoring for XCActivityLog's and uploading them to AWS S3 (or something similar) for p

[2020-08-24 09:07] BalestraPatrick commented on #94
Hey! There are many ways to do this.

You could for example have a script that clones this repo and runs `rake install` to make sure the binary is installed on your agents. I wouldn't really recommend this though, since it'll pollute your builds agents with binaries.

My advice would be to compile each version as a binary (or even easier, download one of our binaries https://github.com/spotify/XCL

[2020-08-25 10:33] AyaAkl25 commented on #94
@BalestraPatrick Thank you so much. I went with your advice and it worked and now I am using the binary to download it every build and run it. Thank you again :)

[2020-08-25 10:33] #94 closed

[2020-08-28 13:45] hilsenrat opened #98 "Add the Option to Generate HTML Report Directly Under --output Folder"
We want to publish the HTML report for each build in Jenkins. For this purpose, we need to know the name of the root folder that includes the `index.html` file.
Right now, if you specify an output path using the `--output` flag, the report is being generated not under that folder, but another folder is being created (with the build timestamp as its name), and the report is being generated to it.
T

[2020-08-28 14:47] alrocha commented on #98
Hello!
Thanks for the input, we think that what you have suggested make sense.
What do you think about add a new parameter as `--rootOutput` so we can generate the HTML file, into your `path/index.html`?
We wouldn't like to remove the current behaviour due to the people that are using the project as it is right now, but we could add a new parameter with a these new behaviour.

[2020-08-28 14:55] hilsenrat commented on #98
Thanks for the quick response!

Yes, I understand the need to not break existing functionality. The `--rootOutput` parameter sounds great.

[2020-08-31 22:57] birwin93 opened #100 "swiftTypeCheckTimes and swiftFunctionTimes only appearing for main application target"
Using xclogparser v0.2.18

I've been playing around with using `-Xfrontend -debug-time-expression-type-checking -Xfrontend -debug-time-function-bodies` to analyze what functions and type checkers are slowing down our build times.

I've noticed that only the source files in the main application target seem to have `swiftTypeCheckTimes` and `swiftFunctionTimes` populated. All the source files in our

[2020-08-31 23:54] birwin93 commented on #100
It does look like the information is also in the output from running `xclogparser dump`

[2020-09-01 15:52] ecamacho commented on #100
Hi! do you have an xcactivitylog to reproduce the error? If you can't provide one, can you share the overall structure of your project to try to mimic it?

[2020-09-01 17:36] birwin93 commented on #100
Thank you for the quick reply!

Unfortunately I can't share our xcactivitylog. But general structure:

- App target (iOS 11 min)
- Internal Dependencies:
       - static libs
       - dynamic frameworks
- External Dependencies:
       - Carthage
       - a few pre-compiled frameworks

Not sure if it matters, but we use XcodeGen as well

Let me know if you need anymore info!

[2020-09-01 19:50] birwin93 commented on #100
Hmmmm I actually created a sample project to try and get an xcactivitylog with a similar setup and it worked fine. Must be something weird in our setup. May also just be a complexity issue since our repo is pretty large with tons of chained dependencies

[2020-09-01 19:50] birwin93 commented on #100
I might try to clone XCLogParser and see if I can figure out what's not working. Any hints on where in the codebase to focus on?

[2020-09-02 03:04] birwin93 commented on #100
Did some more digging.  Turns out being in frameworks was a red herring. Ended up being related to spaces in file paths. Put up a PR here to fix: https://github.com/spotify/XCLogParser/pull/102

[2020-09-02 07:20] ecamacho commented on #100
Thank you for the PR!

[2020-09-02 07:20] #100 closed

[2020-09-07 16:48] ecamacho commented on #98
We merged the feature: https://github.com/spotify/XCLogParser/pull/105

[2020-09-07 19:50] #98 closed

[2020-09-10 19:06] birwin93 opened #107 "Invalid or no xcactivitylog file"
Looks like there were some previous posts but none of the existing suggestions seem to work for.

## Versions
Xcode 11.5

## Problem

Running the following command leads to no xcactivitlylog being generated
[code]

Running the following command generates a xcactivitlylog but running `xclogparser parse` throws an error saying `is not a valid xcactivitylog file`. This just add `-resultBundlePath`
[c

[2020-09-10 21:54] birwin93 commented on #107
Seems like the `is not valid xcativitylog file` is due to issues when unzipping the log. Setup some breakpoints and it looks like gzip library is throwing an error correlating to
[code]

[2020-09-24 13:03] AyaAkl25 opened #108 "HTML parser is not working anymore"
Hey There, I don't know what happened but out of nowhere after everything was working and the html page generated was showing all the errors and logs, now whenever I try to generate with html parser the html page is generated but displays empty data then the html page just breaks and does not want to load anymore.

I tried the following approaches

`xclogparser parse --file pathtologfile.xcactivit

[2020-09-24 16:07] polac24 commented on #108
Hi! You mention that html reporter is broken. Does that mean for other reporters (like `--reporter flatJson`), the log is parsed correctly?
Does the generated in the output directory`js/build.js contain any log data?

[2020-09-25 05:35] im-ling commented on #108
same problem,
`--reporter flatJson` seems fine,
` js/build.js ` contains log data

Environment:
macOS Catalina 10.15.6
Xcode Version 11.7 (11E801a)
language: swift5

[2020-09-25 09:39] AyaAkl25 commented on #108
@polac24 as far as I can see from my terminal output when I try `--reporter flatJson` is working fine
and `js/build.js` contains the logs data but it is 3 GB

[2020-09-27 09:54] polac24 commented on #108
3GB `js/build.js` is definitely too big to load in a browser. Please open the file and scan which elements are duplicated, most likely duplicated entries cause 4GB filesize.
If you can share your `.xcactivitylog`, that would be helpful too.

[2020-09-28 23:51] xyreryp commented on #108
Hi team,

I am running into the same issue.

[code]

Our `js/build.js` is 594.1 MB and contains log data. And this is what the index.html looks like
![image](https://user-images.githubusercontent.com/12604828/94496974-b48ade80-01aa-11eb-9e06-a7568adc54e4.png)

[2020-09-29 00:49] xyreryp commented on #108
So I got the fix.(kind of) @AyaAkl25 @polac24 @im-ling

I got the blank html page if I ran the command below in the xcactivitylog folder.

[code]

However, if I ran the command below. It will generate the correct HTML and `*.js` files. And if I opened the HTML file in Chrome, it will crash. But if I open the HTML file in Safari, it will show the correct content.

[code]

[2020-09-29 08:50] AyaAkl25 commented on #108
Unfortunately I won't be able to share the `.xcactivitylog` file but I am checking fir the duplicate entries.. Not sure yet why this file is starting to be that big

[2020-09-29 08:50] AyaAkl25 commented on #108
Still same issue with me even from Safari :(

[2020-09-29 09:54] ecamacho commented on #108
Hi, @xyreryp @AyaAkl25 can you use Chrome to get the error? Open the html in it, right click on it and choose "Inspect" to open the developer console. Reload the page and check the Console tab for any Javascript error:

![image](https://user-images.githubusercontent.com/22887/94543519-780ebf80-024a-11eb-9667-95f4795513c8.png)

[2020-09-29 12:05] AyaAkl25 commented on #108
I tried that and no errors show up at all, I think the html page tries to show the data but because if the size of the log file, it cannot complete. but so far no idea why the file is so big like that. It worked before

[2020-09-29 13:49] AyaAkl25 commented on #108
So I deleted all the files and everything and tried to generate the html report again, now the size is back to normal but still does not want to load any data then the page breaks

[2020-10-06 01:30] thedavidharris commented on #108
Thisi is the error we have in console

![image](https://user-images.githubusercontent.com/5666250/95148720-0525ad00-0752-11eb-9ece-d287733c058c.png)

[2020-10-16 14:58] AyaAkl25 commented on #108
Hey guys, any help or clues on this?

[2020-10-17 18:31] hc-almeida commented on #108
I also have the same problem.
for some reason the html works on safari, but it shows a warning that the report is taking up a lot of memory. Maybe that's why google chrome breaks.

[2020-10-20 14:21] ecamacho commented on #108
@AyaAkl25 @hc-almeida can you help me check the size of the `json` file? It's located in the folder called `js` inside where the index.html is created. The name of the file is `build.js`
Also, do you generate Swift Type Check stats (building with  the option `-debug-time-expression-type-checking`? We also have issues displaying the HTML when we  generate them.

[2020-10-20 20:27] AyaAkl25 commented on #108
so the `build.js` file it is almost 4GB, when it is like 5,6MB everything seems fine. I tried to look for duplicated entries but so far I didn't find any.
No we don't build with `-debug-time-expression-type-checking` option

I have a question, like at Spotify, normally what is the size of the `build.js` and does it happen that sometimes this logs file gets so big?

Thank you

[2020-10-21 16:19] ecamacho commented on #108
@AyaAkl25 that's really big. I was checking and our in the worst case it's 145MB. Do you have too many targets or files in your project? Or maybe you're using something like Cocoapods with a lot of dependencies?

[2020-10-21 21:36] AyaAkl25 commented on #108
so about targets, I tried multiple of schemes that has different numbers of targets (high and low) and same result of big size file. about Cocoapods, yes we do use it and I believe with lots of dependencies, is there a way I can solve this out?

[2020-10-22 15:12] ecamacho commented on #108
I think the solution is to not use the full json for the HTML report, it's actually not needed. I will try to work on a new version that uses a smaller `json` with only the data we need next week

[2020-10-23 08:49] AyaAkl25 commented on #108
Thank you so much

[2020-10-27 08:42] ecamacho commented on #80
Hi @kjing we're working on a tool to do this. Are you still interested in it? We can talk about it

[2020-10-27 19:15] kjing commented on #80
Hi Eick,

Thanks to let me know. Yes, I am very interested in it.

Best,
Kai

On Tue, Oct 27, 2020 at 1:42 AM Erick Camacho <notifications@github.com>
wrote:

[2020-10-28 21:17] pradyhk opened #110 "Read me update for feature for rootoutput to save HTML."
I see the feature for rootoutput to save HTML reports in specific folder is merged https://github.com/spotify/XCLogParser/pull/105 but I don't see the feature in Read me with an example which I can refer

On trying below command, getting error on using rootOutput.. please suggest

[code]

Xclogparser version used : 0.2.19

[2020-10-29 21:40] emesa-meli commented on #108
Thank you. Same problem here, our json is slightly more than 3gb and we had no luck rendering the html output.

[2020-11-09 00:17] sbanil commented on #108
I believe it appears the size of the JSON file depends on XCLog file it is parsing. So, i was able to get size from 2GB to 150MB by turning off SwiftLint and without_build_specific_information options. I was only interested in build times so this may be ok. If you want to get count of Warnings and errors may be you want to keep SwiftLink step.

[2020-11-16 15:53] AyaAkl25 commented on #108
Hey @ecamacho are there any updates on that matter? Thank you

[2020-11-17 08:43] BalestraPatrick commented on #110
https://github.com/spotify/XCLogParser/pull/105 was merged on September 9, instead 0.2.19 was released on September 3, so it doesn't include that change. For now you can use a version at HEAD until we release a new version of XCLogParser.

[2020-11-17 08:43] #110 closed

[2020-11-17 11:38] ecamacho commented on #108
Hi @AyaAkl25 @emesa-meli @hc-almeida we just released a [new version](https://github.com/spotify/XCLogParser/releases/tag/v0.2.21) that breaks down the report to smaller files so the browser can render them. Please give it a try

[2020-11-17 11:38] ecamacho commented on #93
Fixed in https://github.com/spotify/XCLogParser/releases/tag/v0.2.21

[2020-11-17 11:38] #93 closed

[2020-11-20 12:20] chaucyzhang commented on #108
what i found is the cdn website of jquery sometimes down

[2020-12-03 22:12] danielroach350 opened #113 "HTML Report Fails to parse build errors"
## Swift/Xcode Version
swift 5, Xcode 12.0

## Problem
Hi,
I discovered a possible issue when there are no SubSteps as part of the failure.

The scenario:
attempting to archive a build where the provisioning profile is incorrect or not found. This generates a failure before build compilation of any build steps have been performed. The result is a failure in the root log activities. After doing som

[2020-12-10 07:29] cxr0715 opened #114 "I get some files with xcodebuild -resultBundlePath but not .xcactivitylog"
# Version
Version 12.0 (12A7209)
# Problem
Run the following command
[code]
I get these files
<img width="621" alt="企业微信20201210-152435@2x" src="https://user-images.githubusercontent.com/22252693/101734837-dafabd80-3afb-11eb-838a-cee819b83b1a.png">

I can't get .xcactivitylog file with xcodebuild -resultBundlePath command.
What should I do?
THX

[2020-12-14 09:45] ecamacho commented on #113
@danielroach350 Thank you for reporting it. I modified your solution a bit to append the `build` with no substeps. For cases in which we have errors at the build root level and inside some substeps. Can you check it works for your case? https://github.com/spotify/XCLogParser/pull/115

[2020-12-14 09:48] ecamacho commented on #114
@cxr0715 can you also pass a `derived data path` flag using `--derived_data /path/to/custom/DerivedData`? After doing that, check in that path. Inside the directory `Logs/Build` there should be `xcactivitylog` files.

[2020-12-14 11:10] cxr0715 commented on #114
THX!
I use this command and find .xcactivitylog file in Logs/Build
[code]

[2020-12-14 11:10] #114 closed

[2020-12-14 16:10] danielroach350 commented on #113
Thanks @ecamacho pushing it out to CI for testing.

[2020-12-15 17:32] danielroach350 commented on #113
@ecamacho that looks to have done the trick! Thanks

[2020-12-21 12:53] sgr-ksmt opened #117 "The file size of parsed json has become huge since Xcode 12."
Hi XCLogParser developers.
Thank you for providing a awesome parser library. 🙇
Let me report a new issue as titled.

I'm currently using `xclogparser` to parse the `xactivitylog` file to collect the build time for each module, and I report them to my team members.

For Xcode 11, it worked fine and the file size of the parsed json wasn't so huge.
However, for Xcode 12, the file size of the parsed j

[2020-12-21 15:40] #113 closed

[2020-12-21 15:52] ecamacho commented on #117
Hi! Thank you for reporting this. Do you know if it's true that you have 1200 warnings showing in Xcode? I just want to discard that the tool is duplicating them. We recently [fixed an issue](https://github.com/spotify/XCLogParser/pull/109) that generating duplicated errors in the JSON that is part of release 0.2.21.

I'm leaning towards adding an option to don't output the errors and warnings det

[2020-12-21 19:57] schlagelk opened #118 "Displaying the nearest matching/all available project names when no --project is found"
Hi!

Right now, if you pass `xclogparser` the `--project` option and give it an incorrect project name, `LogFinder` throws an error
[code]

Would it be possible to include in the message the nearest matching/all projects available in the DerivedData directory?  I would find this helpful if, for example, I incorrectly enter a `--project` name and don't easily have the ability to inspect the Derived

[2020-12-22 04:05] sgr-ksmt commented on #117
@ecamacho Thank you for replying.

In my project, there are over 1500 warnings if I execute `build` on Xcode. (Xcode always displays 999+ warnings on the top of the window)

Oh, really? I just want that option! I'm waiting for it.
And thank you for sharing a use case at Spotify 🙇

[2020-12-24 03:43] jiaxw32 commented on #117
Xcode 12, same problem here, the `xclogparser` tool used too much memory when run `parse` command.
![image](https://user-images.githubusercontent.com/15798611/103057930-d47c4380-45db-11eb-9eac-5c5dc96e6bef.png)

dump command works fine, but the output file size by  `parse` command is huge
[code]
I inhibit all warnings in Xcode, the summaryJson like this:
[code]

[code]

[2020-12-27 18:38] BalestraPatrick commented on #118
I think the reason we don't do this is because the derived data directory could also be often customized, so we would we have no idea where exactly it could be and where we to look for similar directories. I'll ask @ecamacho for a second opinion on this.

[2020-12-30 17:28] ecamacho commented on #117
@sgr-ksmt @jiaxw32 Can you try the [latest release](https://github.com/spotify/XCLogParser/releases/tag/v0.2.22) ?
You can pass `--omit_warnings` flag to the `parse` command:
`xclogparser parse --reporter json --output report.json --omit_warnings`

[2020-12-31 02:26] jiaxw32 commented on #117
Hi, @sgr-ksmt , thanks for your work, I try the latest release version, but it doesn't work for me!

[code]
parse result like that
[code]
when I run the `xclogparser` tool, it used too much memory again.
![image](https://user-images.githubusercontent.com/15798611/103390381-1f073e00-4b4f-11eb-9dff-05af4b167c56.png)

I open the `report.json` file with `vim`, found the `notes` have too much data.
[co

[2021-01-04 06:37] sgr-ksmt commented on #117
@ecamacho Thanks for your work.
I tried to parser with the latest version, but I got the same issue as @jiaxw32.

Here's my result:

[code]

I hope I can ignore `notes.detail` field by setting another flag like `--omit_notes`.

[2021-01-21 11:26] ecamacho commented on #80
You can check our [XCMetrics](https://github.com/spotify/XCMetrics) project that addresses this

[2021-01-21 11:26] #80 closed

[2021-01-21 11:27] ecamacho commented on #95
We just released [XCMetrics](https://github.com/spotify/XCMetrics), our internal tool that we use to collect the metrics from our devs and CI agents.

[2021-01-21 11:27] #95 closed

[2021-02-03 06:04] sgr-ksmt commented on #117
@ecamacho How is it going?

[2021-02-04 16:09] ecamacho commented on #117
I will take a look this weekend

[2021-02-17 20:04] emish commented on #117
Hello. I'm having similar problems as others here (too much memory usage, too big of file outputs). Trying the `--omit_warnings` flag did not work for me, it doesn't seem to be packaged with v0.2.22:
[code]

[2021-02-22 08:05] ecamacho commented on #117
@emish I just released `v0.2.25`. Can you try that one? It should have the `--omit_warnings` option and it also adds an `--omit_notes` option.

@sgr-ksmt can you try `v0.2.25`? It adds an `--omit_notes` option

[2021-02-23 11:45] mollyIV opened #127 "Cannot get unit tests stats due to missing test logs either in derived data or result bundle path"
I'd like to gather the test coverage statistics for a given target in a project. The Xcode version that I use is **12.4**. I did run tests for a project via `xcodebuild` command:

[code]

According to the [blog post](https://michele.io/test-logs-in-xcode/) [mentioned in the README file](https://github.com/spotify/XCLogParser#test-logs), there should be `.xcactivitylog` log generated at the result

[2021-02-24 18:04] polac24 commented on #127
Hi Daniel!
I tried Xcode 12.4 behaviour for a brand new project and `.xcactivitylog` files are placed in the derived data.

To customize that dir, you can append `-derivedDataPath`, like
[code]
and the loot at `~/Demo/DerivedData/{{Project}}/Logs/Build/`.

If you call `xcodebuild test` and your DerivedData contains all products required for the test, indeed the *.xcactivitylog is in a lightweight

[2021-02-25 08:51] mollyIV commented on #127
Hey Bartosz! Thank you for the response.

I prepared  a vanilla Swift iOS app project, cleaned up the derived data and run `xcodebuild clean test ...`, but still no unit tests coverage information from a `parse` command (I tired different reporters).

Below some screenshots how the output looks like:

<img width="193" alt="root-project" src="https://user-images.githubusercontent.com/10795657/10912

[2021-02-25 16:35] polac24 commented on #127
XCLogParser can capture building logs (compilation steps, errors, warnings etc.) but not unit tests results like code coverage. When you run tests in Xcode or `xcodebuild` the only generated .xcactivitylog file contains a summary of all steps in the build-for-testing phase (you have it generated in the `Build` dir).

[2021-02-25 20:41] mollyIV commented on #127
That's interesting. According to the README file:

Apparently, I miss-understood "unit tests results" phrase then. Maybe we could avoid ambiguity and tweak the documentation to clearly point out what type of unit tests results are available? 😊

[2021-02-25 22:28] polac24 commented on #127
@ecamacho, do you remember what did we mean by "rests results" in a Readme file?

[2021-03-02 09:54] sgr-ksmt commented on #117
@ecamacho Thank you for your effort.
I tried to use `v0.2.25` but it didn't still work...

I checked your PR and I left a comment to solve `--omit_notes` option.
Could you please check https://github.com/spotify/XCLogParser/pull/126/files#r585419594? 🙇

[2021-03-03 02:50] sgr-ksmt commented on #117
@ecamacho Thank you for quick fixing.
I confirmed that `--omit_notes` worked fine.
If @jiaxw32 can get the same good result, I think we can close this issue. 🙏 How about you?

[2021-03-03 08:35] jiaxw32 commented on #117
work fine for me now, nice work! @sgr-ksmt  @ecamacho

test log as follows:

[code]

[2021-03-03 21:38] andreH-B opened #129 "Expose Reporter.makeLogReporter()"
I'm using `XCLogParser` in a command-line tool that filters out some build steps.
I would still like to be able to use the HTML reporter for the edited builds steps but `HtmlReporter` does not have a public initializer.
A quick way to achieve what I want would be to make `Reporter.makeLogReporter()` public. This way all reporters could be initialized if needed

[2021-03-05 09:52] StephenCheung opened #130 "no detail information when use HTML parser"
<img width="1672" alt="企业微信截图_f08aa286-9e4d-4b1f-877d-8b09381cebc3" src="https://user-images.githubusercontent.com/8896166/110098423-24953480-7ddb-11eb-9a37-71f24f6c8d91.png">

just like the pic, cmd is xclogparser parse --project xxx --reporter html --output xxx

my Xcode version is 12.3
xclogparser version: XCLogParser 0.2.26

[2021-03-05 10:30] knchst commented on #130
![image](https://user-images.githubusercontent.com/13914484/110102719-785a4a80-7de8-11eb-9c97-f5eb33a128d7.png)

The command execution does not finish, and the memory usage is increasing rapidly.
I check the generated HTML, I see the same situation as in StephenCheung's image

[2021-03-17 13:24] akkrat commented on #107
The issue still reproduces on **Xcode 12.1**. Output logs from Xcode's **Build** command are parseable, but from `xcodebuild -archive` isn't. Archive's logs are smaller than those were build with Xcode (1 MB vs 13 MB). I validate logs with`gzip -t ...`

[2021-03-24 22:30] akkrat opened #131 "Crash when parsing log file"
I have a log that contains the next line
[code]
This line causes the crash `Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value` at [SwiftCompilerTimeOptionParser.swift:59](https://github.com/spotify/XCLogParser/blob/e4e309b9b38567f8df50d48e3a63055d08381341/Sources/XCLogParser/parser/SwiftCompilerTimeOptionParser.swift#L59). (PaymentAnalyticHandlerInReadView.swift:45 c

[2021-03-25 05:23] ChristopherDrum opened #132 "Swift Type check times stopped reporting"
I was using 0.2.16 and just saw that I was out of date.
Using 0.2.16 I was seeing Swift Type check times reported in the HTML report.
I updated to 0.2.26 and re-ran the report and see
`Did you compile your project with the flags -Xfrontend -debug-time-expression-type-checking`

Yes, I did compile with those flags. I ran a report with 0.2.16, it looked fine.
Updated to 0.2.26 and ran the report on

[2021-04-19 08:36] MadsBogeskov commented on #132
Same problem here :(

[2021-04-27 13:12] ecamacho commented on #132
Thank you for reporting the issue. It's been fixed in the latest release: 0.2.27

[2021-04-27 13:13] ecamacho commented on #129
I make it public, and I also I added public initializers to each Reporter.

[2021-04-27 13:17] ecamacho commented on #130
@StephenCheung it seems that the JQuery CDN is blocked in your machine. Can you check if you can reach `https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css` ? One way to get around it is to replace that URL in all the HTML files with an URL that you can reach

[2021-04-27 13:18] ecamacho commented on #130
@knchst that's a lot of memory, we haven't observe it in our logs. Do you have a lot of warnings or other kind of Notes in your Xcode Project? What's the size of the .xcactivitylog ?

[2021-04-28 09:43] #132 closed

[2021-04-28 09:43] #129 closed

[2021-05-20 16:45] emanuelef opened #136 "Swift files and C files reported are 0"
<img width="1172" alt="Screenshot 2021-05-20 at 17 43 56" src="https://user-images.githubusercontent.com/48717/119017515-029b5f00-b993-11eb-9603-6a94dc56e0da.png">

Although in Slowest C files compilation and Slowest Swift files compilation there are many.

[2021-05-24 21:38] #117 closed

[2021-05-24 21:38] #108 closed

[2021-06-04 10:45] kazuhiro4949 opened #137 "Is XCLogParser available as a library？"
I'm making a log system which stores xcode build logs.
I'd like to integrate XCLogParser into the source code with Swift Package Manager.
Does XCLogParser have an Interface to integrate other source code?

[2021-06-18 17:26] BalestraPatrick commented on #137
For sure! You should be able to depend on it: https://github.com/MobileNativeFoundation/XCLogParser/blob/3583b8dd9f530131fc9085e4d10d76fc507732cb/Package.swift#L24-L27

If you're looking for an example, our other project `XCMetrics` depends on `XCLogParser` via SPM: https://github.com/spotify/XCMetrics/blob/8edfcfec4e8aebf374ee1d323d46b52dfa54e7ab/Package.swift#L18

[2021-06-18 17:26] #137 closed

[2021-06-25 06:50] chatwyn opened #139 "Invalid xcactivitylog file"
Hi, When I use Xcode to build, It will generate xcactivitylog.
But  When I use xcodebuild cli, For example

[code]

it will generate two xcactivitylog, One is a clean job log, and one is a build job log.  But the build job log is not a valid gzip.
I have to wait one day, but nothing changes.

So, Is it possible to crash in generate xcactivitylog？

[2021-06-28 11:17] patrickbdev commented on #139
Similar to myself however for me it depends on the size of the project.
If I create a new xcode project, `xcodebuild` works.
If I use it on an existing large xcode project, I receive `.xcactivitylog is not a valid xcactivitylog file`.
Even after waiting an hour and running `xclogparser`, I get the same error.
This is my command:
[code]

[2021-06-28 11:54] chatwyn commented on #139
Yes, I found if I use hmap replace header search path,  it can generate .xcactivitylog correctly.    So I think it may be an `argument to long` error in xcodebuild.     But I don't know how to create issue to xcodebuild.

[2021-06-28 12:09] patrickbdev commented on #107
I'm having the same issue on Xcode 12.4 in large projects but smaller projects work fine.
Even when both use `xcodebuild`.

[2021-06-28 13:00] patrickbdev commented on #139
Thanks for responding, could you give a bit more information on what "hmap replace header search path" is?

[2021-06-29 10:07] patrickbdev commented on #139
I've switched to using Xcode directly to build instead of `xcodebuild` and that works. I do need to wait a few seconds after the build is finished before running xclogparser.

[2021-06-29 10:09] patrickbdev commented on #107
I've switched to using Xcode directly to build instead of `xcodebuild` and that works. I do need to wait a few seconds after the build is finished before running xclogparser.

[2021-07-01 10:20] chatwyn commented on #139
https://tech.meituan.com/2021/02/25/cocoapods-hmap-prebuilt.html

[2021-07-01 10:22] chatwyn commented on #139
me too. I think is xcodebuild bug,  but I don't know how to  submit bug to xcodebuid

[2021-07-09 09:51] ma125125t opened #142 "Subtask.html has no data when report to html"
## Command
`xclogparser parse --reporter html --file F2E3C0C0-B5A9-493D-BC52-85A59533D701.xcactivitylog `

## Reproduce:

xlogfile:[F2E3C0C0-B5A9-493D-BC52-85A59533D701.xcactivitylog.zip](https://github.com/MobileNativeFoundation/XCLogParser/files/6790435/F2E3C0C0-B5A9-493D-BC52-85A59533D701.xcactivitylog.zip)

My html result:
[20210709143032.zip](https://github.com/MobileNativeFoundation/XCLogPar

[2021-07-09 12:14] FFFang opened #143 "Question:What does green and blue histogram means?"
![image](https://user-images.githubusercontent.com/8197207/125076240-4177a680-e0f2-11eb-9028-d50ac6bccb52.png)

[2021-07-12 07:57] FFFang commented on #142
find where goes wrong:
there is character "'" in my computer name, so the code execute error.
`const stepUrl = window.location.href.replace(encodeURI('fang's_MacBook_Pro_22C3BD02-CC19-4730-AE2B-0F84D9752A77_2568.html'), targetId + '.html');
`

[2021-07-12 08:02] FFFang commented on #143
Is my guess correct?
The blue one represent duration and the green one represent compilation time?

[2021-07-15 12:05] ecamacho commented on #143
That's right. The blue one is how long did it took Xcode to actually build the product. In some cases is misleading, because Xcode compiles the code and sometimes waits until some dependencies are built before assembling the final binary. That's why we added the green one with only the compilation times

[2021-07-15 12:34] FFFang commented on #143
thanks @ecamacho

[2021-07-15 12:34] #143 closed

[2021-07-16 07:14] orwater opened #144 "Could not find an SDK that supports macOS 11.4"
I try use homebrew to install, but failed.

 "Could not find an SDK that supports macOS 11.4.
You may have have an outdated or incompatible Xcode."

my system version is macOS 11.4,Xcode version is 12.5

<img width="673" alt="截屏2021-07-16 下午3 11 01" src="https://user-images.githubusercontent.com/5849010/125907744-517be2ce-9cfe-4814-8fa9-ac1e5dda1787.png">

[2021-07-22 10:39] Parabak opened #145 "Custom DerivedData path in Xcode 12.5"
Hey guys,

whenever we run clean `xcodebuild` with custom -`derivedDataPath` logs look different compare to Xcode output. The main diff is that logs are missing `Build target TargetName`. It's just a list of compiled files.

Prior iOS 12.5 it worked OK 🤷‍♂️ Do you know smth about it? Maybe there is a some workaround

I've attached the output
[json+log+xcresult.zip](https://github.com/MobileNativeF

[2021-09-16 18:51] yongjincho92 opened #146 "xclogparser parses the second to the latest .xcactivitylog"
As noted in the README for XCLogParser, .xcactivitylog file is generated a few seconds after the build action is completed. I added the xclogparser parse command into the build's post action and what I see is that the xclogparser parses the xcactivitylog for the second to the latest build log.

I am using Xcode 12.5.1 and I am not sure if this is by design or a bug. Can someone also confirm that a

[2021-09-16 20:11] polac24 commented on #146
Hi!
No, `XCLogParser` doesn't retry if .xcactivitylog is invalid.

For your scenario with post build action, you can use [XCMetrics](https://github.com/spotify/XCMetrics), which actually validates .xcactivitylog and retries if is not ready yet:

https://github.com/spotify/XCMetrics/blob/0f449cc9dc328de3fcd85e08edec18f43da3a041/Sources/XCMetricsClient/Log%20Management/LogManager.swift#L128-L155

[2021-09-24 03:21] sethfri commented on #136
I'm seeing this issue as well

[2021-10-05 10:44] dhoskins commented on #142
This issue can be sidestepped by passing `--machine_name fang` as a parameter to `xclogparser`.

[2021-10-19 20:10] CraigSiemens opened #148 "Question: Can the event "Create directory..." be removed from the start of targets?"
I tried this out a couple of months ago and it was correctly showing the start and stop times of each target.

<img width="407" alt="Screen Shot 2021-10-19 at 2 01 51 PM" src="https://user-images.githubusercontent.com/680442/137982240-96b38588-d9e3-4aeb-9ff5-1bdbce97117a.png">

I just tried again today and for some reason it's reporting all targets starting at the same time.

<img width="328" alt=

[2021-11-19 18:44] stevelandeyasana commented on #139
I had this problem as well, and I "fixed" it by adding `sleep 2` to the script that runs xclogparser.

[2021-11-27 15:33] apstygo opened #150 "Process gets killed after a while when parsing a large xcactivitylog"
Our project contains a ton of targets and dependencies. The generated xcactivitylog file is around 4.2MB in size. For comparison xcactivitylog for a newly created project is around 7KB in size.

Whenever I try parsing my project's xcactivitylog using HTML reporter xclogparser's process gets killed by the system after about a minute of waiting. It works just fine on smaller projects/targets though.

[2021-11-27 16:03] apstygo commented on #150
I have found the exact line causing the problem – line 192 in `HtmlReporter.writeTargetFiles`. Encoding the flattened target into a JSON representation seems to eat through my machines RAM. RAM usage rises steadily until the process is eventually killed by the system.

<img width="1904" alt="Снимок экрана 2021-11-27 в 18 59 36" src="https://user-images.githubusercontent.com/10431330/143688449-b004

[2021-11-27 16:48] apstygo commented on #150
I've found the culprit. One of the targets contained around 40000 notes. Seems like JSONEncoder just can't handle such a big amount of data at one time.

I filtered out substeps with 10000 notes or more and XCLogParser was able to create the HTML report. Yay!

Do we even need the notes when dumping into an HTML file? Maybe we could just get rid of them altogether. Or introduce some kind of culling

[2021-11-29 12:39] ecamacho commented on #150
Hi, yes JSONEncoder has memory issues with large documents. I added a flag to truncate Notes (and Warnings and Errors) from the final JSON https://github.com/MobileNativeFoundation/XCLogParser/pull/151
We also have the `--omit_notes` flag that you can pass to completely skip notes.

[2021-11-29 20:52] ronanrodrigo opened #152 "Build status sanitizing"
We saw some `Clean succeeded` at our logs as build status. And checking on `ParserBuildSteps` it just extract extra terms when it contains `"Build "`.

[code]

[2021-12-04 01:08] #152 closed

[2021-12-06 05:24] colin1994 commented on #148
I'm seeing this issue as well. The timelines overlap.

[2021-12-11 15:40] biboran commented on #148
I don't think `Create directory` is the only step that is causing the problem. The legacy build system seemed to take a single target and carry out all of its build steps, building a maximum of CPU core counts targets concurrently. However, the new build system seems to bundle all the different build steps across all targets in a task queue. These build steps are then executed in random order rega

[2021-12-11 20:49] CraigSiemens commented on #148
@biboran Could you share how you went about filtering those substeps? I don't see any option in `XCLogParser` to apply a filter.

[2021-12-14 21:29] keith opened #154 "Add GitHub CODEOWNERS"
In the MNF TSC meeting today we agreed it would be a good idea to add a [GitHub CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) file to the root of the repo to document who the maintainers of this repository are. These don't have to be blocking but will still help us keep the most up to date maintain

[2021-12-16 19:02] #154 closed

[2022-01-19 13:13] BBC6BAE9 opened #156 "xcodebuild does not generate a valid xcactivitylog"
I use xcodebuild command to compile my project，generate new xcactivitylog, but  there is no data in it. Does anyone know how to fix it?

` xcodebuild build -project xxx.xcodeproj -scheme xxx -configuration Release -sdk iphonesimulator`

[2022-01-23 08:23] BBC6BAE9 commented on #156
Since Xcode 11, xcodebuild only generates the .xcactivitylog build logs when the option -resultBundlePath is present. If you're compiling with that command and not with Xcode, be sure to set that option to a valid path ending in .xcresult.

[2022-01-23 08:23] #156 closed

[2022-01-31 16:52] CraigSiemens commented on #156
Was there anything else besides adding `-resultBundlePath` that you changed? We're running into the same issue but already have `-resultBundlePath` being passed to `xcodebuild`.

[2022-01-31 17:52] CraigSiemens opened #159 "Error: xcactivitylog is not a valid xcactivitylog file"
We're currently getting the following error after running xclogparser.

[code]

At first we thought it was from `EnableSwiftBuildSystemIntegration` in Xcode 13.2+ but disabling it and going down to Xcode 13.1 have the same issue.

The file is created at the shown location and is 15.9 MB. I don't know what else I could look for to troubleshoot the issue. There's previous issues with the same error,

[2022-01-31 19:26] #107 closed

[2022-01-31 19:35] ecamacho commented on #159
Hi we also had the same issue when using the `-debug-time-function-bodies` and `-debug-time-expression-type-checking`  flags with Xcode 13.x. For some reason Xcode was creating truncated log files. But somehow it's working now that we bumped to use Xcode 13.2.1. I'm pinging @aleksandergrzyb since he verified this recently,  maybe he can have some insights about it.

[2022-02-01 17:35] sbanil opened #161 "Missing C files and Swift files count in HTML reports -v0.2.33"
Just pulled down v0.2.33 and ran HTML report on the build log and i see that it now generates more modular HTML files but unfortunately it shows C Files and Swift file count as 0. I tried with and without suppressing warnings and same output. Anything i'm missing?

[2022-02-02 12:25] aleksandergrzyb commented on #159
Yes, it is a known problem. 😔 Currently I am investigating why it happens. I will give an update here if I would be able to figure out what's wrong.

[2022-02-08 17:36] #150 closed

[2022-02-08 17:37] BalestraPatrick commented on #144
Sounds like an issue with Homebrew itself or you local installation since I was able to install it correctly via Homebrew just now.

[2022-02-08 17:37] #144 closed

[2022-02-10 08:05] aleksandergrzyb commented on #159
We've noticed that in our case `.xcactivitylog` is invalid, because `xcodebuild` didn't finish creating it before exiting. Probably the process terminates, because it takes lots of time to generate `.xcactivitylog` in our case (it has over 50 MB). We solved this issue by executing `clean` action after `build` action to occupy `xcodebuild` process a little bit longer.

In your case please execute f

[2022-02-10 17:55] CraigSiemens commented on #159
Interesting, that seems to work most of the time. Through sometimes it looks like the `clean` is removing the `xcactivitylog` of the `build`. It's not all the time though so I'm not sure if it's a race condition or if there's something else causing it.

This also meant that the `xclogparser` now starts grabbing the `xcactivitylog` from the `clean` since it's the newest log. I had to change our scr

[2022-02-11 12:25] ecamacho commented on #148
@CraigSiemens I'll take a look at it. Just to clarify, are you using the new build system or the legacy one? Does your project only contains Swift code or do you have Objective-C as well?

[2022-02-11 12:26] ecamacho commented on #159
Closing this and moving the conversation to #148

[2022-02-11 12:26] #159 closed

[2022-02-11 16:11] samuelsainz commented on #148
@ecamacho I am seeing this issue as well.

- We use the new build system
- We have Objective-C but most of the code (90%) is swift
- We use CocoaPods and have more than 100 pods

For some reason when doing a clean build I am getting almost 15K different targets in the report, which makes the timeline unreadable.
This is not happening for incremental builds--in that case I can see higher level targ

[2022-02-11 18:03] CraigSiemens commented on #148
- New build system
- It's all swift

I tried looking at the dump output (I don't really know wha I'm looking for) but it seems like it's these two subsections that are added for every target at the very start of the build.

[code]

[2022-02-15 08:55] imWildCat commented on #139
I'm seeing the same problem as well using Xcode Version 13.2.1 (13C100).

`xcodebuild` with incremental builds is fine. But clean builds didn't work at all.

[2022-03-30 21:57] guidedways opened #165 "Chrome unable to load index.html with error code 5"
After a clean build, I'm unable to load the index.html file in Chrome. It gives me a `error code 5` - not sure if this has something to do with an internal timeout due to an "out of memory" error. When I tried compressing the generated folder, it seems to be 9GB in size (!). Is that normal? Perhaps there's far too much data generated - is there any way to trim / limit this?

[2022-03-30 22:06] #165 closed

[2022-04-05 03:37] dezinezync commented on #146
I can reproduce the same with Xcode Version 13.3 (13E113)

Adding something along the lines of `sleep 5;` before executing `xclogparser...` in the post-build section does not work either.

[2022-04-15 07:35] sayler8182 opened #166 "SonarQube integrations"
Is there a possibility to integrate this tool with SonarQube ?

[2022-06-02 12:16] piterwilson opened #167 "Issues with HTML Reporter (and solutions)"
Hello everyone,

My team is using `XCLogParser` to profile build times in one of our apps and we're running into and issue: for some of our developers (myself included) the html reporter is not giving information collected with `-Xfrontend -debug-time-function-bodies` and `-Xfrontend -debug-time-expression-type-checking`

The issue is strange because for some of our developers the tools works with

[2022-06-08 12:05] fzwo opened #169 "Error parsing Xcode 14 log"
When trying to dump or parse an xcactivitylog file generated by Xcode 14, I get the following error:

[2022-06-08 18:59] akaDuality commented on #169
Example of tokens for `DVTMemberDocumentLocation`

[code]

[2022-06-08 19:10] akaDuality commented on #169
[Sample file](https://github.com/MobileNativeFoundation/XCLogParser/files/8864396/006A79B4-1766-4613-87A0-CAB5A591805F.xcactivitylog.zip)

[2022-06-08 19:28] akaDuality commented on #169
`DVTMemberDocumentLocation` looks simple, it's just another name for `DVTDocumentLocation`. But what is strange that some of `IDEDiagnosticActivityLogMessage` contains `Notice`, and some of them misses it.

[2022-06-08 19:46] akaDuality commented on #169
[Draft pull request](https://github.com/MobileNativeFoundation/XCLogParser/pull/170)

[2022-06-16 15:05] smmcdonald opened #171 "XCLogParser does not pick up deprecation warnings from xcodebuild"
I've noticed that the log parser does not include deprecation warnings from xcodebuild in the HTML reporter. Is there a way to include deprecations as warnings as it does when running from the Xcode IDE?

Here is the xcodebuild command I'm using:
`xcodebuild "-workspace" "/Users/[REDACTED]/git/MyApp.xcworkspace" "-scheme" "MyApp" "-configuration" "QA" "-resolvePackageDependencies" "-resultBundlePa

[2022-06-27 17:56] ecamacho commented on #169
Thanks @akaDuality for the PR. Can you upload again the Sample file? It is damaged and I have not been able to create a log that reproduces the issue

[2022-06-29 09:57] vladislovshilov opened #173 "Error while adding XCLogParser as Swift Package"
Hello there, first of all thank you guys so much for that tool 🙏 You did a really good research!

**The problem:**
I can't integrate it into the project. Looks like I missed some little detail.

**What I did?**
I added XCLogParser as a SwiftPackage dependency and got a couple of errors.

- In case when I add only executable file
![Executable](https://user-images.githubusercontent.com/38430226/1764

[2022-06-29 10:54] #169 closed

[2022-06-29 19:12] polac24 commented on #173
To be clear - if want to integrate XCLogParser into your own tool, you should only set a dependency on `XCLogParser` library, not `xclogparser` executable.

[2022-06-30 23:08] vladislovshilov commented on #173
Thanks for the response @polac24. No, I just wanted to test it in my project..
I added executable directly and ran a post-script with that. It works fine!

[2022-06-30 23:08] #173 closed

[2022-08-30 15:54] OliverKoo opened #174 "Xcode13/14 xcactivitylog missing when running test"
Regardless ran test via Xcode or via `xcodebuild`

[code]

Contradicting to the [doc](https://michele.io/test-logs-in-xcode/) I don't seem to able to find xcactivitylog in DerivedData `/Users/okoo/Library/Developer/Xcode/DerivedData/MyAPp-bgthhfzgvbcbapcewzmbvfdjouta/Logs/Test` nor at `/Users/okoo/Code/ios2/testlog.xcresult`.

[2022-08-30 17:28] OliverKoo commented on #127
bump on this - I was also under the impression xclogparser can parse unit tests results or maybe XCLogParser expect `xcodebuild test` generate a .xcactivitylog file at some point? and the newwer Xcode no longer does that?

[2022-09-28 03:24] wudijimao opened #175 "[discussion] Did we has a plan to resolve space time with "new_build_system"?"
The "new_build_system" make many target seems build take a long time. but they not, just wait for dependency build.

[2022-10-17 10:17] vmzhivetyev commented on #139
any updates?

[2022-10-20 06:21] lumo2707 commented on #167
Are there any news? I also have the same issue here.
Did you create a PR for that?
@piterwilson

[2022-10-20 07:29] jcospina-wm commented on #167
The PR is linked in this issue.

Honestly, I couldn't figure out how to properly fix this and there doesn't seem to be a lot of activity in this project to guide in the right direction.

In the end, I just went into the raw logs themselves using the X-frontend options and focused on a few "serious offenders" in my project, which did the trick for me.

[2022-10-27 05:53] chinaljw opened #176 "Error: Error parsing the log: Unexpected className found parsing DocumentLocation DVTMemberDocumentLocation"
Error: Error parsing the log: Unexpected className found parsing DocumentLocation DVTMemberDocumentLocation

[2022-10-27 05:53] chinaljw commented on #176
Xcode 14

[2022-10-27 06:07] #176 closed

[2022-10-27 06:11] chinaljw commented on #176
Use latest github version. The homebrew version does not support Xcode 14.

[2022-10-31 09:21] findthebug commented on #136
same

[2022-11-24 14:18] #171 closed

[2022-11-28 10:29] PatrikBillgren commented on #65
Hi @mobileben! Is this issue still valid? In that case, do you have a POC PR to demonstrate?

[2022-11-28 10:32] PatrikBillgren commented on #127
@ecamacho Do you have any knowledge about this issue? Thanks

[2022-11-28 10:33] PatrikBillgren commented on #136
Hi, do you have possibility to share an example project where you have this issue? Thanks

[2022-11-28 13:37] PatrikBillgren commented on #145
Hi @Parabak ! Are you still experiencing this issue with current Xcode version?

[2022-11-28 13:39] PatrikBillgren commented on #146
Closing since the original question is answered

[2022-11-28 13:39] #146 closed

[2022-11-28 15:04] #142 closed

[2022-11-28 15:09] PatrikBillgren commented on #175
Hi, is this the same issue as is described here? https://github.com/MobileNativeFoundation/XCLogParser/issues/148

[2022-11-29 13:34] PatrikBillgren commented on #167
Hi, can you please verify if the issue is solved on the latest master? Thanks

[2022-11-30 17:53] Alarson93 commented on #136
I updated to version `0.2.36` using Homebrew, but unfortunately the issue persists.
[Example.zip](https://github.com/MobileNativeFoundation/XCLogParser/files/10125908/Example.zip)

I've added an example project that illustrates the behavior. The report is included under the `build/reports` directory.

When you open the HTML, you can see that 0 Swift files are found, but the project has 3.